<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Verny Road - {% block title_block %}Masterplan{% endblock %}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700"
    rel="stylesheet">
  </head>
  <body {% block body_id_block %}{% endblock %}>
    <!-- Navigation -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and menu bar toggle for mobile displays -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#bs-navbar-collapse-1"
          aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	  			</button>

				  <a href="{% url 'index' %}" class="navbar-brand">
            6-12 Verney Road
          </a>
			  </div>

			  <!-- Collect the nav links, forms, and other content for
        toggling -->
			  <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
				  <ul class="nav navbar-nav uppercase">
					  <li>
              <a href="{% url 'who_are_we' %}"
                {% block activate_link_0 %}{% endblock %}>Who Are We</a>
            </li>
					  <li>
              <a href="{% url 'project_information' %}"
                {% block activate_link_1 %}{% endblock %}>Project Information
              </a>
            </li>
					  <li><a href="#" {% block activate_link_2 %}{% endblock %}>
              Latest News</a></li>
				  </ul>

				  <ul class="nav navbar-nav navbar-right">
					  <li class="nav-divider"></li>
					  <li><a href="#" {% block activate_link_4 %}{% endblock %}>
              Downloads</a></li>
					  <li><a href="#" {% block activate_link_5 %}{% endblock %}>
              Contact Us</a></li>
				  </ul>
			  </div>
		  </div>
	  </nav>

    {% block header_banner %}
    <!-- Header Banner -->
  	<section class="conatainer-fluid header-banner"
    {% block header_image %}{% endblock %}></section>
    {% endblock header_banner %}

    {% block body_block %}
    {% endblock %}

    {% block footer_block %}
    <!-- Footer -->
  	<footer class="container-fluid">
  		<div class="container">
  			<h3 class="text-center">Useful Links</h3>
  			<div class="row">
  				<div class="col-md-1"></div>
  				<div class="col-md-2"><a href="{% url 'who_are_we' %}">
            Who Are We</a></div>
  				<div class="col-md-2"><a href="{% url 'project_information' %}">
            Project Information</a></div>
  				<div class="col-md-2"><a href="#">Latest News</a></div>
  				<div class="col-md-2"><a href="#">Downloads</a></div>
  				<div class="col-md-2"><a href="#">Contact Us</a></div>
  				<div class="col-md-1"></div>
  			</div>
  		</div>

  		<div class="row">
  			<p>© 2017 Verney Road Masterplan. All rights reserved.</p>
  		</div>
  	</footer>
    {% endblock %}

    <!-- Scripts -->
    <!-- Latest compiled and minified JQuery -->
  	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}">
    </script>
  </body>
</html>
