<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rango</title>
  </head>
  <body>
    <h1>Add a Page</h1>
    <div>
      {% if category %}
      <form id="page_form"
      action="/rango/category/{{ category.slug }}/add_page/" method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Create Category">
      </form>
      {% else %}
      The specified category does not exist!
      {% endif %}
    </div>
  </body>
</html>
